
app==0.0.1
conda==22.9.0
googleapis
ipykernel 
ipython 
jupyter 
keras==2.13.1
Keras-Preprocessing 
matplotlib 
notebook
numpy==1.24.3
pandas 
python-utils==3.5.2

scikit-learn 
streamlit==1.22.0
tensorflow==2.13.0
tensorflow-cpu==2.13.0
tensorflow-estimator==2.13.0
validators==0.20.0
virtualenv==20.23.0
